<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">

    <title>Rain Blog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Rain Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/signup">Sign Up</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid row">
      <div class="col-md-8">
        <h1>Rain Blog</h1>
      </div>
      <div class="col-md-4" id="search">
        <form class="form-inline form-container">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
      <p class="form-container">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suspendisse potenti nullam ac tortor. Enim ut tellus elementum sagittis vitae et leo duis ut. Quis auctor elit sed vulputate mi sit. In dictum non consectetur a erat nam. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Et egestas quis ipsum suspendisse ultrices gravida. Elit eget gravida cum sociis natoque penatibus et magnis. Sed turpis tincidunt id aliquet risus feugiat. Nec ultrices dui sapien eget. Proin sed libero enim sed faucibus turpis in.

Tincidunt id aliquet risus feugiat in ante. Tellus orci ac auctor augue mauris augue. Cursus euismod quis viverra nibh cras pulvinar. Nunc non blandit massa enim nec dui. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam. Euismod lacinia at quis risus. Sociis natoque penatibus et magnis dis parturient montes nascetur. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Blandit cursus risus at ultrices. Sit amet consectetur adipiscing elit pellentesque habitant. Pharetra pharetra massa massa ultricies. At volutpat diam ut venenatis. Morbi tincidunt ornare massa eget egestas. Pretium vulputate sapien nec sagittis aliquam. Turpis egestas integer eget aliquet nibh praesent tristique magna sit.

Eget magna fermentum iaculis eu. Interdum velit laoreet id donec ultrices tincidunt. At volutpat diam ut venenatis tellus in. Praesent elementum facilisis leo vel fringilla est. Vestibulum mattis ullamcorper velit sed. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Ante metus dictum at tempor commodo ullamcorper. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Tellus elementum sagittis vitae et leo duis ut diam. Lorem sed risus ultricies tristique nulla aliquet. Ultricies tristique nulla aliquet enim tortor at auctor urna. Commodo viverra maecenas accumsan lacus vel facilisis volutpat. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Praesent elementum facilisis leo vel. Dapibus ultrices in iaculis nunc sed augue lacus. Maecenas sed enim ut sem viverra aliquet eget sit.

Fames ac turpis egestas integer eget aliquet. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. In iaculis nunc sed augue lacus viverra vitae. Sit amet porttitor eget dolor morbi non arcu risus. Massa eget egestas purus viverra accumsan. Tristique senectus et netus et malesuada fames ac. Malesuada fames ac turpis egestas. Sem nulla pharetra diam sit amet. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Mi sit amet mauris commodo. Imperdiet sed euismod nisi porta lorem mollis. Quis blandit turpis cursus in hac habitasse. Et egestas quis ipsum suspendisse ultrices. Vulputate sapien nec sagittis aliquam. Vitae purus faucibus ornare suspendisse sed nisi lacus. Molestie ac feugiat sed lectus vestibulum. Eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Dui id ornare arcu odio ut sem.

Orci porta non pulvinar neque. Ac turpis egestas maecenas pharetra convallis. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. A arcu cursus vitae congue mauris. Pharetra pharetra massa massa ultricies mi quis. Dictum at tempor commodo ullamcorper a lacus vestibulum. A scelerisque purus semper eget duis at. Vel fringilla est ullamcorper eget nulla facilisi etiam. Egestas sed tempus urna et pharetra pharetra massa. Id nibh tortor id aliquet lectus. Blandit massa enim nec dui nunc mattis enim. Velit dignissim sodales ut eu sem integer. Sit amet volutpat consequat mauris nunc. Commodo quis imperdiet massa tincidunt nunc. Risus in hendrerit gravida rutrum quisque non tellus orci. Et netus et malesuada fames ac turpis egestas sed. Suspendisse faucibus interdum posuere lorem ipsum. Vestibulum sed arcu non odio. Nunc aliquet bibendum enim facilisis gravida neque convallis a. Lectus quam id leo in vitae turpis.</p>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>